{% extends 'base.html.twig' %}

{% block title %}Modifier MDP - 3wolfdesign{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('styles/security.css') }}">
{% endblock %}

{% block body %}
    {{ form_start(passwordForm) }}
        <h1 class="page-title">Sécurité du compte</h1>
        {{ form_row(passwordForm.plainPassword) }} 
        <button type="submit" class="btn btn-primary">Mettre à jour le mot de passe</button>
    {{ form_end(passwordForm) }}
{% endblock %}

{% block partenaires %}{% endblock %}